<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokebunrui</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pokebunrui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pokebunrui10.css' %}">

    <!-- <script src="{% static 'bunruicheck.js' %}"></script> -->
    <!-- <script src="pokebunruiapp/static/bunruicheck.js"></script> -->
    <meta name="google-site-verification" content="qECGLgBzSbR1AYYtEYd8VRnJXAzycRjJ6DjOlfGoIjw" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7617877650409353" crossorigin="anonymous"></script>
</head>
{% block header %}
<header>
    <h4><a id="reset-btn" href="{% url 'pokebunruiapp:index' %}">ホームに戻る</a></h4>

</header>
{% endblock header %}

{% block content %}
{% endblock content %}

</html>