{% extends 'base.html' %}
{% load static %}

{% block header %}
<header>

</header>
{% endblock header %}

{% block content %}
<body>
    <a class="applink" href="/pokebunrui10/"><p class="applink-text">START QUIZ 10</p></a>
    <a class="applink" href="/pokebunrui/"><p class="applink-text">START QUIZ</p></a>
    <a class="applink" href="/randombtn/"><p class="applink-text">誰かのブログを見に行く(修正中)</p></a>
    <a class="applink" href="/nextstationis/"><p class="applink-text">GPS電車ごっこ</p></a>
    <a class="applink" href="/kankomatch/"><p class="applink-text">旅先決め機</p></a>

</body>
{% endblock %}