<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>nextstationis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/nextstationis.css' %}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <main>
        <div class="container">
            <div class="station-info">
                <div class="station sub-stations">
                    <p class="prev" id="prev">前駅</p>
                </div>

                <div class="now-wrapper station">
                    <p class="now" id="nearest">次駅</p>
                </div>
                <div class="station sub-stations">
                    <p class="next" id="next">次次駅</p>
                </div>

            </div>
            <div>
                <p class="distance-meter">現在地からの距離：<span id="distance">???</span></p>
            </div>
            
            <div>
                <form  action="">
                    <input id="form" type="text" value="東京" hidden>
                </form>
            </div>
            <div class="info-wrapper">
                <div class="distance-wrapper">
                    <p>判定距離</p>
                    <select name="distance" id="selected_distance">
                        <option value="500">500m</option>
                        <option value="1000" selected>1000m</option>
                        <option value="2000">2000m</option>
                    </select>
                </div>
                <div class="btn-wrapper">
                    <button id="btn" class="btn">
                        出発
                    </button>
                </div>
                <div class="position-info">
                    <p>緯度：<span id="latitude">???</span><span>度</span></p>
                    <p>経度：<span id="longitude">???</span><span>度</span></p>
                </div>
            </div>
            
        </div>
    </main>
    
    <script src="{% static 'js/nextstationis.js' %}"></script>

</body>
</html>