{% extends 'base.html' %}
{% block content %}


<body>
    <h3>このポケモンは何？</h2>
    <p>得点:<span id="point">0</span></p>
    <p>{{ bunrui }}</p>
    <input id="answer" type="text">
    <button id="btn">回答する</button>
    <button id="hint">ヒント1をみる</button>
    <p id="hint1_text" style="display: none;">{{ poke_gen_text }} </p>
    <p id="hint2_text" style="display: none;">{{ poke_type_jp }} タイプ</p>
    <p id="poke_name" style="display: none;">{{ poke_name }}</p>
    <img id="img" src="{{ poke_image }}" alt="" style="display: none;">
    <a id="zukan" href="{{ poke_url }}" style="display: none;">図鑑で見る</a>
    <p id="other_answers" style="display: none;"><span>他の回答例：</span><span id="other_ans">{{ other_ans }}</span></p>
    <h4 id="status"></h4>
    <button id="see_answer">答えを見る</button>
    <button onclick="window.location.reload();">次の問題</button> 
    <button id="reset">得点リセット</button>
    {% load static %}
    <script src="{% static 'js/pokebunrui.js' %}"></script>
</body>

{% endblock %}
